extends base

block content 
   main.main 
    h1.main_pdpHeading Premarket Data Processor 

    p.main_rawStrEntry Enter Raw String
   
    .text-area-box   
         textarea#main_rawStrIn(name="raw_premarket_string", cols="2", rows="10")

         button.main_rawStrProc Submit  

     

